<div class="center jumbotron">
  <h1>Hello Saitama.rb!</h1>
  <h2>
    This is the home page for the
    <a href="#">Ruby on Rails tutorial</a> 
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary mt-10" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>